@model LambdaForums.Models.SearchL.SearchResultModel

<div class="container body-content">
    <div class="row sectionHeader">
        <span style="color:white;"> Search Result for: @Model.SearchQuery</span>
        <div class="sectionHeading">
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Index" class="btn btn-back" style="margin-right:20px;"> Back to Forum </a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-back"> Back to Latest Post </a>
            </span>
            <form asp-controller="Search" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)">
                    <button type="submit" class="btn btn-forumSearch">
                        <i class="material-icons"> search </i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row forumIndexContent">
        @if (!Model.EmptySearchResults)
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id"></a>
                                <div class="forumLogo" style="background-image:url(@post.Forum.ImageUrl)"></div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id"> @post.Title </a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            by:
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.AuthorName
                                                </a>
                                                (@post.AuthorRating)
                                            </span>
                                            in:
                                            <span class="postForum">
                                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id">@post.Forum.Name</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Replies : @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate"> @post.DatePosted </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72"> question_answer </i>
                <h3 style="color:#ff0000; background-color:#000">
                    No search results found for @Model.SearchQuery <br />

                </h3>
            </div>
        }
    </div>
</div>

@section Scripts{   @* очищує поле у пошуку *@
<script>
    function clearThis(target) {
        target.value = "";
    }
</script>
}